# IDE
.idea/
.vscode/

# Python
venv/
__pycache__/
*.py[cod]
*.log
*.pyd
backend/.env

# Node/React
node_modules/
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/.vite/
frontend/.cache/
frontend/.eslintcache

# Build & lock files
frontend/build/
frontend/yarn.lock
frontend/package-lock.json

# Docker
**/.dockerignore

# System
.DS_Store
Thumbs.db

# Logs (only keep .gitkeep)
logs/*
!logs/.gitkeep