* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #14181c;
  color: #f9fafb;
  line-height: 1.6;
}


.with-sidebar {
  margin-left: 252px;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.text-secondary {
  font-size: 1.25rem;
  color: #888;
  max-width: 700px;
  margin: 0 auto 2rem;
}

label {
  font-size: 0.95rem;
  color: #f9fafb;
}

input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #14181c;
  color: #f9fafb;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #0972ce;
}

.error {
  border-color: #d9534f;
}

.error-message {
  color: #d9534f;
  font-size: 0.85rem;
  margin: 0;
  line-height: 1.2;
}

/* Layout & Grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: start;
  gap: 1.5rem;
}

.page-container {
  padding: 4.2rem 3rem 3rem 3rem;
}

.page-section {
  margin-bottom: 3rem;
}

/* Typography */
.section-title,
.section-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ccc;
}

/* Card Styling */
.work-card {
  background-color: #1f2937;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: background-color 0.2s ease;
}

.work-card:hover {
  background-color: #2a3443;
}